<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<form action="/birthday/birthdayXdmInst" method="post" id="form">
	main: <input type="int" name="main" id="main">
	type: <input type="text" name="type" id="type" length="15">
	date: <input type="text" name="date" id="date" length="30">
	member_seq: <input type="text" name="member_seq" id="member_seq" >
	<button type="button" id="btsSave">등록</button>
</form>
<script type="text/javascript">
	document.getElementById("btsSave").onclick = function(){
		document.getElementById("form").submit();
	}
</script>


</body>
</html>
