<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.JTY.fapp.birthday.BirthdayDao">

<resultMap id="resultMapObj" type="com.JTY.fapp.birthday.BirthdayDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    type,
		    Date,
		    member_seq
		FROM
			birthday
		where 1=1
		order by seq desc
		
	</select>
	<select id="selectDate" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    type,
		    Date,
		    member_seq
		FROM
			birthday
		where 1=1
			AND seq = #{seq}
		order by seq desc
		
	</select>
	<insert id="insert">
		INSERT INTO birthday(
			main,
			type,
			date,
			member_seq
			)
		values(
			#{main},
			#{type},
			#{date},
			#{member_seq}
			)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<update id="update">
		update birthday set
			main = #{main},
			type = #{type},
			date = #{date},
			member_seq = #{member_seq}
		where
			seq = #{seq}
	</update>
</mapper>