<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.JTY.fapp.company.CompanyDao">

<resultMap id="resultMapObj" type="com.JTY.fapp.company.CompanyDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    company,
		    department,
		    position,
		    member_seq
		FROM
			company
		where 1=1
		order by seq desc
		
	</select>
	<select id="selectItem" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    company,
		    department,
		    position,
		    member_seq
		FROM
			company
		where 1=1
			AND seq = #{seq}
		order by seq desc
		
	</select>
	 <insert id="insert">
	 	INSERT INTO company(
	 	main,
	 	company,
	 	department,
	 	position,
	 	member_seq
	 	)
	 	value(
	 	#{main},
	 	#{company},
	 	#{department},
	 	#{position},
	 	#{member_seq}
	 	)
	 	<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	 </insert>
</mapper>