<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.JTY.fapp.email.EmailDao">

<resultMap id="resultMapObj" type="com.JTY.fapp.email.EmailDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    email,
		    member_seq
		FROM
			email
		where 1=1
		order by seq desc
		
	</select>
	<select id="selectEmail" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    email,
		    member_seq
		FROM
			email
		where 1=1
			AND seq = #{seq}
		order by seq desc
		
	</select>
	<insert id="insert">
		INSERT INTO email(
			main,
			email,
			member_seq
			)
		values(
			#{main},
			#{email},
			#{member_seq}
			)
		
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		
	</insert>
<update id="update">
	update email set
		main = #{main},
		email = #{email},
		member_seq = #{member_seq}
	where 
		seq = #{seq}
</update>
	  
</mapper>