<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.JTY.fapp.homepage.HomepageDao">

<resultMap id="resultMapObj" type="com.JTY.fapp.homepage.HomepageDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    homepage,
		    member_seq
		FROM
			homepage
		where 1=1
		order by seq desc
		
	</select>
	<select id="selectItem" resultMap="resultMapObj">
		SELECT
			seq,
		    main,
		    homepage,
		    member_seq
		FROM
			homepage
		where 1=1
			AND seq = #{seq}
		order by seq desc
		
	</select>
	  
</mapper>