<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.JTY.fapp.member.MemberDao">

<resultMap id="resultMapObj" type="com.JTY.fapp.member.MemberDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    lastName,
		    name,
		    naverId,
		    memo,
		    nickname
		FROM
			member
		where 1=1
			AND delNy = 0
		order by seq desc
		
	</select>
	<select id="selectOne" resultMap="resultMapObj">
		select
			seq,
	    	lastName
		FROM
			member
		WHERE 1=1
			AND seq = #{seq}
	    	ORDER BY seq DESC
	    
	</select>
	  

	<select id="selectTwo" resultMap="resultMapObj">
		select
			seq,
	    	name
		FROM
			member
		WHERE 1=1
			AND seq = #{seq}
	    	ORDER BY seq DESC
	    
	</select>
		<select id="selectB" resultMap="resultMapObj">
		select
			seq,
			naverId
		FROM
			member
		WHERE 1=1
			AND seq = #{seq}
	    	ORDER BY seq DESC
	    
	</select>
	
	<select id="selectC" resultMap="resultMapObj">
		select
			seq,
			memo
		FROM
			member
		WHERE 1=1
			AND seq = #{seq}
	    	ORDER BY seq DESC
	    
	</select>
	<select id="selectAll" resultMap="resultMapObj">
		SELECT
			seq,
		    lastName,
		    name,
		    naverId,
		    memo,
		    nickname
		FROM
			member
		where 1=1
			AND seq = #{seq}
		order by seq desc
		
	</select>
	 <insert id="insert">
	INSERT INTO member(
		lastName,
		name,
		naverId,
		memo,
		nickname,
		delNy
		)
	values (
		#{lastName},
		#{name},
		#{naverId},
		#{memo},
		#{nickname},
		0
		)
		;
	 <selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	 </insert>
	<update id="update">
	update member
	set
		lastName=#{lastName},
		name = #{name},
		naverId = #{naverId},
		memo = #{memo},
		nickname = #{nickname}
	where 
		seq=#{seq}
		
	</update>
<delete id="delete">
	delete from member
	where seq = #{seq}
</delete>
<update id="uelete">
	update member
	set
		delNy = 1
	where 
		seq=#{seq}
	</update>
</mapper>