<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>lastName</td>
		<td>name</td>
		<td>naverId</td>
		<td>memo</td>
		<td>nickname</td>
	</tr>
	<tr th:each="list : ${list}">
		<td th:text="${list.seq}"></td>
		<td><a th:text="${list.lastName}" th:href="@{/member/memberXdmView(seq=${list.seq})}"></a></td>
		<td><a th:text="${list.name}" th:href="@{/member/memberXdmName(seq=${list.seq})}"></a></td>
		<td><a th:text="${list.naverId}" th:href="@{/member/memberXdmId(seq=${list.seq})}"></td>
		<td><a th:text="${list.memo}" th:href="@{/member/memberXdmMemo(seq=${list.seq})}"></td>
		<td th:text="${list.nickname}"></td>
	</tr>
</table>
</body>
</html>